.container{
	width: 470.75px;
}
body{
	font-size: 0.6em;
}

/***********************About me**************************/
#about-me{
	font-size:1.2em;
}
/*********************************************************/