*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background: url(../img/bg.png);
    font: 1em 'PT Sans', Tahoma, Arial, sans-serif; 
}

/*-------------Navigation---------------*/

#navigation-left{
    position:fixed;
    width: 75px;
    height: 100%;
    background-color: #cdcdc1;
}

#menu-left{
    position:relative;
    width: 75px;
    height: 300px;
    top: 100px;
}

.menu-container{
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    transition: width 0.2s ease-in-out ;
}

.menu-container:hover{
    width: 200px;
}

.menu-links{
    text-decoration: none;
    display:block;
    height: 75px;
    width:200px;
    text-indent: 30px;
    border-bottom:1px solid #eeeee0;
    color:#696969;
    text-transform: uppercase;
    line-height: 70px;
    cursor:pointer;
    font-size: 1.1em;
    background-color: #cdcdc1;
}

#link-home{
    border-top:1px solid #eeeee0;
}

.menu-icon{
    top:7.5px;
    left:7.5px;
    height: 60px;
    width: 60px;
    position:relative;
    float: left;
    fill: #696969;
}

.menu-icon:hover{
    fill:#f3f46c;
    transition: 0.2s;
}

#social-network-container{
    position: relative;
    top:150px;
    width: 75px;
    height: 225px;
}

.social-links{
    margin-left:10px;
    margin-top: 15px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.social-network-icon{
    width: 50px;
    height: 50px;
    fill:#696969;
}

.social-links:hover{
    background-color: #f3f46c;
    box-shadow: 0 0 20px 5px rgb(243,244,108);
}