.container {
	width: 705px;
}
body{
	font-size: 0.8em;
}

.text{
	font-size:1.2em;
}
h2.title{
	font-size:4em;
}
.descr{
	font-size:1.5em;
}
/***********************Header**************************/
nav a {
	margin-top: 25px;
	margin-right: 35px;
}

header {
	top: 15px;
	height: 70px;
	padding: 15px 0;
}
/********************************************************/

/***********************Home**************************/
#home {
	padding-top:270px ;/*202.5px*/
	background-image: url(../img/home/home-bg-l.jpg);
}

#jumbotron {
	padding-top: 75px;
	width: 525px;
	height: 225px;
}
h2{
	color:green;
}
/*******************************************************/

/***********************About me**************************/
.photo{
	width: 200px;
	height: 330px;
}
/*******************************************************/

/************************Specialty************************/
#specialty{
	text-align: center;
}
.specialty-item{
	margin-top: 50px;
	width:67.5%;
}
/*********************************************************/

/***************************Contact************************/
#contact{
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}
#contact h2{
	color:white;
}
#contact p{
	color:#bababa;
}
#message input{
	background: #fff;
	box-shadow: none;
	border-radius: 4px;
	margin: 10px auto;
	height: 40px;
	width: 60%;
	font-size: 1.2em;
	padding-left: 15px;
	border:1px solid #ccc;
	text-transform: lowercase;
}
#message input:focus{
	box-shadow: 0 0 20px red;
	outline: none;
	border:1px solid red;
}

/**********************************************************/

/**********************************************************/
#message input{
	width: 61%;
}

#btn{
	width: 40%;
}
/**********************************************************/