.container{
	width: 528.75px;
}
body{
	font-size: 0.7em;
}
h2.title{
	font-size:5em;
}
h4.title{
	font-size:3em;
	margin-bottom:20px;
}
.descr{
	font-size:2em;
}
.text{
	font-size:1.5em;
}

/***********************Header**************************/
nav a {
	margin-top: 20px;
	margin-right: 30px;
}

header{
	top: 15px;
	height: 65px;
	padding: 15px 0;
}
/*****************************************************/

/***********************Home**************************/
#home{
	padding-top: 230px;
	background-image: url(../img/home/home-bg-m.jpg);
}
#jumbotron{
	padding-top: 56.25px;
	width: 393.75px;
	height: 168.75px;
}
h2{
	color:yellow;
}
/*****************************************************/

/***********************About me**************************/
.about-me-item{
	margin-top:30px;
	float:none;
	width: 100%
}
.photo{
	width: 220px;
	height: 350px;
}

/*******************************************************/

/************************Specialty************************/
#specialty{
	font-size:1em;
}
.specialty-item{
	margin: 60px auto;
	width:100%;
}
.specialty-img{
	margin-top: 20px;
	width: 100%;
	height: 250px;
}
#specialty-item-one{
	float:none;
}
#specialty-item-two{
	float:none;
}
#specialty-item-three{
	float:none;
}
#specialty-img-one{
	float:none;
	margin:0 auto;
}
#specialty-img-two{
	float:none;
	margin:0 auto;
}
#specialty-img-three{
	float:none;
	margin:0 auto;
}
#specialty-img-one img{
	width: 250px;
	height: 250px;
}
#specialty-img-two img{
	width: 250px;
	height: 250px;
}
#specialty-img-three img{
	width: 250px;
	height: 250px;
}
.specialty-text{
	padding-top: 30px;
	text-align: center;
	height: 100%;
}
#specialty h2{
	font-size: 5.7em;
}

#specialty-item-one h4{
	font-size: 2em;  
}
#specialty-item-two h4{
	font-size: 2em;  
}
#specialty-item-three h4{
	font-size: 2em; 
}

/*********************************************************/

/**************************Contact********************************/
#message input{
	width: 71%;
}

#btn{
	width: 50%;
}
/**********************************************************/