.container {
	width: 705px;
}
body{
	font-size: 0.8em;
}

/***********************Header**************************/
nav a {
	margin-top: 25px;
	margin-right: 35px;
}

header {
	top: 15px;
	height: 70px;
	padding: 15px 0;
}
/********************************************************/

/***********************Home**************************/
#home {
	padding-top:270px ;/*202.5px*/
	background-image: url(../img/home/home-bg-l.jpg);
}

#jumbotron {
	padding-top: 75px;
	width: 525px;
	height: 225px;
}
h2{
	color:green;
}
/*******************************************************/

/***********************About me**************************/
.text{
	font-size:1.2em;
}
h2.title{
	font-size:4em;
}
.descr{
	font-size:1.5em;
}
.photo{
	width: 200px;
	height: 330px;
}

/*******************************************************/