.container{
	width: 340px;
}
body{
	font-size: 0.6em;
}

/***********************Header**************************/
header{
	top: 0px;
	height: 100px;
	padding: 15px 0;
}
.logo{
	text-align: center;
	float:none;
	margin-bottom: 20px;
}

nav{
	float:none;
	text-align: center;
	display:line;
}
nav a {
	margin-top: 20px;
	margin-right: 30px;
}
/*****************************************************/

/***********************Home**************************/
#home{
	padding-top: 230px;
	background-image: url(../img/home/home-bg-s.jpg);
}



#jumbotron{
	padding-top: 56.25px;
	width: 340px;
	height: 168.75px;
}
h2{
	color:red;
}
/*****************************************************/

/**************************Contact********************************/

#message input{
	width: 81%;
}

#btn{
	width: 60%;
}
/**********************************************************/