/************************Footer********************************/

footer{
	text-align: center;
	padding-top: 20px;
	height: 100px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	transition:all 0.5s ease-in-out;
}

footer .logo{
	padding-top: 5px;
}

footer:hover{
	background-color: rgba(0,0,0,1);
}

.footer-text{
	padding-top: 20px;
	display:inline-block;
	margin:0 auto;
	color:#d6d6d6;
}

.social-container{
	float:right;
	height: 100%;
	width: 220px;
}

.social-network{
	float:right;
	height: 60px;
	width: 60px;
	margin-right: 20px;
}

.social-network:first-child{
	margin-right: 0;
}

.social-img{
	fill:white;
	width: 60px;
	height: 60px;
	cursor:pointer;
}

.social-img:hover{
	fill:#E02323;
	transition:all 0.2s ease-in-out;
}