/***************************Main**************************/

body{
	background-image: url(../../img/body/body-bg.png);
	min-height: 1000px;
	max-width: 100%;
}

#wrapper{
	height:100%;
	min-height: 1000px;
	max-width: 100%;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.logo{
	font-family: 'Great Vibes', cursive;
	font-size: 3.5em;
	float: left;
}

.box{
	padding: 120px 0;
}

.title:first-letter{
	text-transform: uppercase;
}

h2.title{
	font:3.5em/1em 'Fondamento', cursive;
	color:black;
	margin-bottom: 10px;
}

h4.title{
	font: 2em/1em 'Fondamento', cursive;
	color:black;
	margin-bottom: 10px;
}

.descr{
	margin-bottom:50px;
	font-size:1.3em;
	color:#777;
	
}

.text{
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	font-size:1em;
	line-height: 24px;
}

.empty-box{
	height: 150px;
	width: 100%;
}