/***************************Size-small**********************/

/***************************Main**************************/
.container{
	width: 340px;
}
body{
	font-size: 0.6em;
}
.logo{
	text-align: center;
	float:none;
	margin-bottom: 20px;
}

/***********************Header**************************/
header{
	top: 0px;
	height: 100px;
	padding: 15px 0;
}
nav{
	float:none;
	text-align: center;
	display:line;
}
nav a {
	margin-top: 20px;
	margin-right: 30px;
}


/***********************Home**************************/
#home{
	padding-top: 270px;
	background-image: url(../../img/home/home-bg-s.jpg);
}
#jumbotron{
	padding-top: 50.25px;
	width: 340px;
	height: 168.75px;
}

/**************************Contact********************************/
#message input{
	width: 81%;
}
#btn{
	width: 60%;
}


/**************************Footer********************************/
footer .logo{
	display:none;
}
.footer-text{
	font-size:1.2em;
}
