/***************************Size-Large**********************/

/***************************Main**************************/
.container {
	width: 705px;
}
body{
	font-size: 0.8em;
}

.text{
	font-size:1.2em;
}
h2.title{
	font-size:4em;
}
.descr{
	font-size:1.5em;
}

/***********************Header**************************/
nav a {
	margin-top: 25px;
	margin-right: 35px;
}

header {
	height: 70px;
	padding: 15px 0;
}

/***********************Home**************************/
#home {
	padding-top:270px ;/*202.5px*/
	background-image: url(../../img/home/home-bg-l.jpg);
}
#jumbotron {
	padding-top: 75px;
	width: 525px;
	height: 225px;
}

/***********************About me**************************/
.photo{
	width: 200px;
	height: 330px;
}

/************************Specialty************************/
#specialty{
	text-align: center;
}
.specialty-item{
	margin-top: 50px;
	width:67%;
}

/***************************Contact************************/
#message input{
	width: 61%;
}

#btn{
	width: 40%;
}

/***************************Footer************************/
footer{
	height:95px;
	padding-top:;
	}
footer .logo{
	padding-top: 5px;
}
.social-container{
	height: 100%;
	width: 199px;
}
.footer-text{
	font-size:1.1em;
}
.social-network{
	height: 55px;
	width: 55px;
	margin-right: 17px;
}
.social-img{
	width: 55px;
	height: 55px;
}